.new {
  width: 320px;
  margin: 100px auto;
}

label {
  display: block;
  margin: 5px 0;
}
select, input {
  width: 300px;
  background-color: #e9e6c3;
  display: block;
  margin-bottom: 20px;
}
button.save {
  border-radius: 0%;
  background-color: #e9e6c3;
  width: 300px;
  border: none;
  font-size: 16px;
  padding: 5px;
  color: #2e2923;
}
