<div class="new">
      <form (ngSubmit)="onSubmitNew(newForm)" #newForm="ngForm">
          <label for="title">Title</label>
          <input type="text" name="title" [(ngModel)]="portfolio.title">

          <label for="projects">Projects</label>
          <select multiple name="projects" [(ngModel)]="portfolio.projects">
            <option *ngFor="let project of projects" [value]="project._id">{{ project.title }}</option>
          </select>

          <label for="letters">Letters</label>
          <select multiple name="letters" [(ngModel)]="portfolio.letters">
            <option *ngFor="let letter of letters" [value]="letter._id">{{ letter.title }}</option>
          </select>

          <button type="submit" class="save">Save</button>
      </form>
</div>
