<div class="edit">
      <form (ngSubmit)="onSubmitEdit(editForm)" #newForm="ngForm">
          <label for="title">Title</label>
          <input type="text" name="title" [(ngModel)]="title" #newTitle="ngModel">

          <label for="start">Starting Date</label>
          <input type="date" name="start" [(ngModel)]="start" #newStart="ngModel">

          <label for="end">Ending Date</label>
          <input type="date" name="end" [(ngModel)]="end" #newEnd="ngModel">

          <label for="surface">Gross floor area</label>
          <input type="number" name="surface" [(ngModel)]="surface" #newSurface="ngModel">

          <label for="budget">Total cost</label>
          <input type="number" name="budget" [(ngModel)]="budget" #newBudget="ngModel">

          <label for="client">Client</label>
          <input type="text" name="client" [(ngModel)]="client" #newClient="ngModel">

          <label for="description">Project description</label>
          <input type="text" name="description" [(ngModel)]="description" #newDescription="ngModel">

          <label for="location">Project location</label>
          <input type="text" name="location" [(ngModel)]="location" #newLocation="ngModel">

          <label for="externalEngineer">External Collabolator</label>
          <input type="text" name="externalEngineer" [(ngModel)]="externalEngineer" #newExternalEngineer="ngModel">

          <button type="submit" class="edit">Edit</button>
      </form>
</div>
