/*div {
  margin: 20px auto;
  width: 96%;
  min-height: 100px;
  border: 1px solid #e9e6c3;
  padding: 5px;
}*/
h3 {
  margin: 20px auto;
  text-align: center;
}
button {
  background-color: #2e2923;
  color: #e9e6c3;
  font-size: 30px;
  border-width: 0;
  margin-right: 20px;
  margin-top: 10px;
  padding: 0;
  text-align: left;
}
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  text-indent: 20px;
  text-align: center;
}
tr {
  border: 1px solid #26221e;
  width: 96%;
  height: 50px;
  margin: 5px 2%;
  padding: 10px;
}

th:last-of-type{
  width: 15%;
}
@media (min-width: 600px) {
  div {
    margin: 20px 1% 20px 2%;
    width: 30.6666%;
    float: left;
  }
}
