.clearfix{
  display: block;
  float: none;
}
.edit {
  padding-left: 30px;
}
div.background::-webkit-scrollbar {
    background-color: #2e2923;
}
div.background::-webkit-scrollbar-corner{
  background-color: #2e2923;
}

label {
  display: block;
  margin: 5px 0;
}
input, textarea {
  width: 300px;
  height: 20px;
  background-color: #2e2923;
  display: block;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  color: #e9e6c3;
  text-indent: 20px;
  word-wrap: normal;
}
input:focus, textarea:focus {
  border: none;
}
textarea::-webkit-scrollbar {
    background-color: #2e2923;
}
textarea::-webkit-scrollbar-corner{
  background-color: #2e2923;
}
textarea {
  resize: none;
}
textarea.height2 {
  height: 40px;
}
textarea.height7 {
  height: 140px;
}
button {
  background-color: #2e2923;
  color: #e9e6c3;
  font-size: 20px;
  border: none;
}
