<div class="edit">
      <form (ngSubmit)="onSubmitEdit(editForm)" #editForm="ngForm">
        <div class="personalData">
          <h3> PERSONAL INFORMATION </h3>
          <label for="firstName">First Name</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.firstName}}" name="firstName" [(ngModel)]="firstName"></textarea>

          <label for="lastName">Last Name</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.lastName}}" name="lastName" [(ngModel)]="lastName"></textarea>

          <label for="title">Title</label>
          <textarea class="height2"(change)="editForm.ngSubmit.emit()" value="{{user?.title}}" name="title" [(ngModel)]="title"></textarea>

          <label for="email">Email</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.email}}" name="email" [(ngModel)]="email"></textarea>

          <label for="phoneNo">Phone No.</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.phoneNo}}" name="phoneNo" [(ngModel)]="phoneNo"></textarea>

          <label for="address">Address</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.address}}" name="address" [(ngModel)]="address"></textarea>

          <label for="url">Web</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.url}}" name="url" [(ngModel)]="url"></textarea>

          <label for="linkedIn">LinkedIn</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.linkedIn}}" name="linkedIn" [(ngModel)]="linkedIn"></textarea>

          <label for="pinterest">Pinterest</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.pinterest}}" name="pinterest" [(ngModel)]="pinterest"></textarea>

          <label for="profile">Profile</label>
          <textarea class="height7" (change)="editForm.ngSubmit.emit()" value="{{user?.profile}}" name="profile" [(ngModel)]="profile"></textarea>

          <!-- <label for="interests">Interests</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{user?.interests}}" name="interests" [(ngModel)]="interests"></textarea> -->
        </div>

        <div class="jobAndSchool">

          <h3> UNIVERSITY EDUCATION </h3>
          <div *ngFor="let education of user?.education; let i = index">
            <button (click)="deleteEducation(i)">x</button>

            <p> {{ education.name }} </p>
            <p> {{ education.title }} </p>
            <p> {{ education.from | date:'yyyy-MM-dd' }} </p>
            <p> {{ education.to | date:'yyyy-MM-dd' }} </p>
            <p> {{ education.description }} </p>
          </div>

          <button class="add" (click)="addEducation()">+</button>

          <form *ngIf="showEducation"(ngSubmit)="onSubmitAddUniversity(addUniversityForm)" #addUniversityForm="ngForm">
            <label for="name"> University Name </label>
            <textarea  name="name" [(ngModel)]="name"></textarea>

            <label for="title"> Title </label>
            <textarea name="title" [(ngModel)]="title"></textarea>

            <label for="from"> From </label>
            <input type="date" name="from" [(ngModel)]="from">

            <label for="to"> To </label>
            <input type="date" name="to" [(ngModel)]="to">

            <label for="description"> Description </label>
            <textarea name="description" [(ngModel)]="description"></textarea>

            <button type="submit">Add</button>
          </form>

          <h3> PROFESIONAL EXPERIENCE </h3>
          <div *ngFor="let experience of user?.experience; let i = index">
            <button (click)="deleteJob(i)">x</button>
            <p> {{ experience.name }} </p>
            <p> {{ experience.title }} </p>
            <p> {{ experience.from | date:'yyyy-MM-dd' }} </p>
            <p> {{ experience.to | date:'yyyy-MM-dd' }} </p>
            <p> {{ experience.description }} </p>
          </div>
          <button class="add" (click)="addJob()">+</button>

          <form *ngIf="showJob" (ngSubmit)="onSubmitAddJob(addJobForm)" #addJobForm="ngForm">
            <label for="name"> Company Name </label>
            <textarea  name="name" [(ngModel)]="name"></textarea>

            <label for="title"> Job Title </label>
            <textarea name="title" [(ngModel)]="title"></textarea>

            <label for="from"> From </label>
            <input type="date" name="from" [(ngModel)]="from">

            <label for="to"> To </label>
            <input type="date" name="to" [(ngModel)]="to">

            <label for="description"> Job Description </label>
            <textarea name="description" [(ngModel)]="description"></textarea>

            <button type="submit">Add</button>
          </form>

        </div>
        <div class="skills">
          <h3> COMPLEMENTARY EDUCATION </h3>

        </div>
      </form>
</div>
<div class="clearfix"> </div>
