<div class="edit">
      <form (ngSubmit)="onSubmitEdit(editForm, letter?._id)" #editForm="ngForm">
          <label for="title">Title</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{letter?.title}}" name="title" [(ngModel)]="title"></textarea>

          <label for="from">From</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{letter?.from}}" name="from" [(ngModel)]="from"></textarea>

          <label for="to">To</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{letter?.to}}" name="to" [(ngModel)]="to"></textarea>

          <label for="text">Letter content</label>
          <textarea class="height300px" (change)="editForm.ngSubmit.emit()" value="{{letter?.text}}" name="text" [(ngModel)]="text"></textarea>

      </form>
</div>
