<div class="background">
  <div class="paper">
    <div class="header">
      <h2> {{user?.firstName}} </h2>
      <div class="info1">
        <p> zahahadid@gmail.com </p>
        <p> www.zahahadid@com </p>
      </div>
      <div class="info2">
        <p> 123-456-7890 </p>
        <p> 221B Baker Street London </p>
      </div>
    </div>
    <div class="title"> ARQUITECT - URBANIST - DESIGNER </div>
    <div class="body">
      <div class="column1">
        <div class="profile">
          <h3><strong> PROFILE </strong></h3>
          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Etiam tempus aliquet purus eget consequat.
            Morbi mauris orci, facilisis posuere tortor et,
            lacinia condimentum tortor. Maecenas nec accumsan sem.
            Proin luctus accumsan enim non tincidunt.
          </p>
        </div>
        <div class="education">
          <h3><strong> EDUCATION </strong></h3>
          <p> Architectural Association School of Architecture. </p>
          <p class="date">  1972 - 1977 </p>
          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Etiam tempus aliquet purus eget consequat.
          </p>
        </div>
        <div class="skills">
          <h3><strong> SKILLS </strong></h3>
          <p> autoCad </p>
          <p> autoCad </p>
          <p> autoCad </p>
          <p> autoCad </p>
          <p> autoCad </p>

        </div>
      </div>
      <div class="column2">
        <img src="https://images.adsttc.com/media/images/587f/83ec/e58e/ce8d/9300/001a/large_jpg/Zaha_Hadid_by_Brigitte_Lacombe.jpg?1484751845">
        <div class="job">
          <h3><strong> PROFESIONAL EXPERIENCE </strong></h3>
<br>
          <p> Metropolitan Architecture, Rotterdam</p>
          <p> Architect </p>
          <p class="date">  1977 - 1980 </p>
          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Etiam tempus aliquet purus eget consequat.
          </p>
<br>
          <p> Zaha Hadid Architects, London </p>
          <p> Founder </p>
          <p class="date">  1980 - 2016 </p>
          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Etiam tempus aliquet purus eget consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-user (onUpdated)="onUserUpdated($event)"></app-user>
