<div class="edit">
      <form (ngSubmit)="onSubmitEdit(editForm, portfolio?._id )" #editform="ngForm">
          <label for="title">Title</label>
          <textarea (change)="editForm.ngSubmit.emit()" value="{{ portfolio?.title }}" type="text" name="title" [(ngModel)]="title"></textarea>

          <label for="projects">Projects</label>
          <div *ngFor="let project of portfolio?.projects; let i = index">
            <button (click)="deleteProject(i)">x</button>

              <p>{{ project.title }}</p>
          </div>
          
          <label for="letters">Letters</label>
          <div *ngFor="let letter of portfolio?.letters; let i = index">
            <button (click)="deleteLetter(i)">x</button>
              <p>{{ letter.title }}</p>
          </div>


      </form>
</div>
